 body,div,h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, dl, small {
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
}

html
{
font-family:arial;
background:white;
}


body
{
float:left;
margin:0 20% 0 20%;
box-shadow: 0 0 15px 10px rgba(80, 78, 78, 0.40);
}


header
{
width:100%;
height:90px;
background:url(../images/header.gif)repeat-x scroll center bottom;
 -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
padding:1% 0;
}
.headleft, #logo, #logo a, #logo h1
{
height:inherit;
}


#logo a
{
float:left;
text-decoration:none;
padding:0 1% 0 2%;
width:100px;
}
#logo a img
{
height:100%;
}

#logo h1
{
float: none;
display: table-cell;
vertical-align: middle;
font-weight: normal;
color: #275078;
font-size: 1.8em;
font-family:"Times New Roman", Times, serif;
font-variant:small-caps;
}
.headright
{
width:20%;
height:100%;
float:right;
padding-right:2%;
}
#crisis 
{
height:60px;
float:right;
}
#crisis img
{
height:100%;
display:block;
margin-left:auto;
margin:auto;
}
#chat 
{
height:25px;
float:right;
}
#chat img
{
display:block;
height:100%;
margin-left:auto;
margin-right:auto;
}

nav
{
width:100%;
float:left;
	background: url(../images/bars/background-mainmenu.gif) repeat-x scroll left top #012D5A;
}

#nav{
float:left;
    list-style:none;
 width:98%;
	font-family:"Times New Roman", Times, serif;
	text-transform:uppercase;
	

border-bottom:1px solid #CCC;
	padding-left:2%;
}
#nav li{
    float:left;
position:relative;
	text-align:left;
	padding-right:5%;
	background: url(../images/bars/background-mainmenu.gif) repeat-x scroll left top #012D5A;
	
}
#nav a{
    display:block;
    color:#FFF;
    text-decoration:none;
	font-size:.8em;
	font-weight:bold;
	padding:1em 1em;
	white-space:nowrap;
}
#nav a:hover{
    color:#B41019;
    background:#FFF;

}
#nav li.last
{
margin:0;

}


/*--- DROPDOWN ---*/
#nav ul{
    list-style:none;
    position:absolute;
    left:-9999px; /* Hide off-screen when not needed (this is more accessible than display:none;) */
	z-index:5;

}


#nav ul li{
/*border-top:1px solid white;  Introducing a padding between the li and the a give the illusion spaced items */
float:none;

padding-right:0;
}
#nav ul:hover{
}
#nav li:hover ul{ /* Display the dropdown on hover */
left:0; /* Bring back on-screen when needed */
background:#FFF;
border-top:none;
box-shadow: 0 5px 5px #7E7A7A;


}
#nav li:hover a{ /* These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. */
background:#FFF;
color:#B41019;
}
#nav li:hover ul a{ /* The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. */
text-decoration:none;
color:#1E4E7C;
font-size:.7em;

}
#nav li:hover ul li a:hover{ /* Here we define the most explicit hover states--what happens when you hover each individual link. */
background:#1E4E7C;
color:#FFF;
}

#links ul{

margin: .5em 0 .5em 1.3em ;
list-style:none;
}

#links a {
display:block;
color:#043668;
font-size:.8em;
text-decoration:none;
}
#links a:hover {
color:#B41019;
text-decoration:underline;
}
	.link_toggle{
		display:none;
		width:1%;
	}

	.link_toggle  button{
		border:none;
		height:2.5em;
		width:2.5em;
		background:url(../images/menu-icon.png)no-repeat center;
		-webkit-background-size: contain;
		-moz-background-size: contain;
		-o-background-size: contain;
		background-size: contain;
		cursor:pointer;
	}
.leftbody
{
box-sizing:border-box;
width:30%;
float:left;
padding:0 .5em;

}
.rightbody
{
box-sizing:border-box;
float:right;
width:70%;
padding:0 .5em;

}

.maincontent{
box-sizing:border-box;

width:100%;

min-height:500px;
}

h2
{

background: url(../images/bars/background-contentblocktitle1.gif) repeat-x scroll left top #E5E9ED;
border: 1px solid #D7DDE3;
color:black;
font-size:.8em;
text-align:left;
padding:.5em;
margin:.5em 0;

}

h3, .maincontent ul, .maincontent > ol{
box-sizing:border-box;
width:100%;
color: #043668;
text-transform: uppercase;
font-size:1em;
padding:.5em .5em; 
font-weight:bold;
}

p
{
box-sizing:border-box;
width:100%;
padding:.5em 1em;
font-size:.8em;
vertical-align:center;
}

p span {
    display: block;
    text-align: center;
	font-size:1.1em;
}
a
{
color:#3B81C6;
text-decoration:none;
}
a:hover, .maincontent a:hover
{
color:#B41019;
text-decoration:underline;
}
b{
font-weight:bold;
}
.maincontent li
{
margin:.5em 1.5em .5em 1.5em;
font-size:.8em;
color:black;
font-weight:normal;
text-transform:none;
}

#vision a
{
width:100%;
}
#vision a img
{
display:block;
margin-left:auto;
margin-right:auto;
width:90%;
}

#carousel iframe
{
width:100%;
border:none;
}

#slider
{
box-sizing:border-box;
display:inline-block;
width:100%;
padding:.5em 1em .5em 1em;
}

.seals div{
text-align:center;
}
.seals a {
display:inline-block;
width:12%;
padding:0 1%;
}
.seals img{
width:100%;
}
.indent {
margin-left:.5em;
}
.indent ul{
color: black;
text-transform: none;
font-size:.9em;
font-weight:normal;
}
.indent li{
font-size:.9em;
}


table.contenttable {
padding:0 .25em;
}
	
	.contenttable td {
		padding:.5em .5em;
	}
	.contenttable tr td:first-child {
    width: 30%;
	}
	.contenttable tr td:last-child {
    width: 70%;
	}
	.contenttable tr td:last-child > a {
	padding-bottom:.5em;
	}
	
	.contenttable td img {
	width:100%;
	}
	
	.contenttable td  img.border {
	box-sizing:border-box;
	color:black;
	border-width: thin;
    border-style:groove;
	}
	.contenttable td a img.border:hover {
	color:black;
	}
	.contenttable td > a {
		display:block;
		font-weight: bold;
		color: #275078;
		text-decoration:underline;
	}
	.contenttable p{
	padding:0 0 .5em 0;
	}	

#prezi {
    width: 100%;
    margin:.5em 0;
    height: 23em;
}

#photostream
{
box-sizing:border-box;
padding: .5em 1em;

}











footer {
float:left;
    text-align: center;
    margin: 0 auto;
    padding: 2% 0;
    bottom: 0;
    width: 100%;
	background:url(../images/footer.gif)repeat-x scroll;
	margin:1% 0 0 0;
}

footer p {
padding:1% .5em;
margin:0;
font-size:100%;
width:68%;
float:right;
}
    footer p span, footer span a {
		font-size:100%;
        color: red;
    }
	
	footer span a {
	text-decoration:underline;
	}
footer div{
width:25%;
padding:0 0 0 2%;
float:left;
display:inline-block;
}

footer ul {
width:50%;
float:left;
list-style:none;
text-align:left;
}
footer li{

}
footer a{
font-size:90%;
text-decoration:none;
color:#043668;
}
footer a:hover
{
color:#B41019;
text-decoration:underline;
}



























