@media only screen and (min-width:1000px) and (max-width:1300px) 
{
body{
margin:0 5% 0 5%;
}
}

@media only screen and (min-width:750px) and (max-width:1000px) 
{
body{
margin:0;
font-size:95%;
}
}
@media only screen and (max-width: 750px) 
{
body
{
margin:0;
font-size:90%;
}

header
{
width:100%;
height:auto;
padding:0;
}
.headleft
{
height:80px;
padding:1%;

}
#logo
{
margin: 0 1% 0 5%;
}

#logo a
{
width:auto;
text-decoration:none;
padding-right:1%;
margin:0;
}

#logo h1
{
font-size:1.5em;
}

.headright
{
width:100%;
height:80px;
float:none;
padding:1% 0 1% 0;
border-bottom:5px solid #275078;
}
#crisis
{
width:100%;
height:70%;

}
#chat
{
height:30%;
width:100%;
}


#nav{
padding:0;
width:100%;
}
#nav li{
width:100%;
padding:0;
	border-top: 1px solid #7E7A7A;
	border-bottom: 1px solid #7E7A7A;
}
#nav a{
	padding:1em .5em 1em 2em;
}

#nav li:hover ul{ /* Display the dropdown on hover */
position:relative;
min-width:90%;
padding:0;
margin-left:5%;
}


#links
{
position: relative;
}
	#links div {
		background: url(../images/bars/background-contentblocktitle1.gif) repeat-x scroll left top #E5E9ED;
		border: 1px solid #D7DDE3;
		padding-right:3%;
		margin:.5em 0;
	}
		#links h2 
		{
		border:none;
		display:table-cell;
		font-size: 1.2em;
		}

		#links div.link_toggle {
			border:none;
			display:table-cell;
			vertical-align:middle;
		}
			
	#links ul
	{
	margin:0;
		display:none;
	}
		#links li {
			border-bottom:.5px solid #D7DDE3;
		}
		#links a {
		font-size:1.0em;
		padding: .5em 1.3em; 
		}
		
		
.leftbody, .rightbody
{
width:100%;
float:left;
padding:0 .25em;
}

.maincontent{
min-height:0;
}
p{

}

h2{
font-size:1em;
}

#vision a img
{
display:block;
margin-left:auto;
margin-right:auto;
width:50%;

}
#DLlink{
display:none;
}

footer {
float:left;
    text-align: center;
    margin: 0 auto;
    padding: 2% 0;
    bottom: 0;
    width: 100%;
    background:#D5D7DA;
	margin:2% 0;
}

footer p {
float:left;
width:100%;
padding:0 3%;
}
    footer p span, footer span a {
		font-size:100%;
        color: red;
    }
	
	footer span a {
	text-decoration:underline;
	}
	
footer div {
width:60%;
float:none;
position:relative;
margin:1% 0 0 5%;
}	

footer ul {
float:left;
width:50%;
list-style:none;
text-align:left;
padding:1% 0 0 0;

}
footer li{
margin:0;
}


}
