 body,div,h1, h2, h3, h4, h5, h6, p, a, ul, ol, li, dl, small {
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
}

html
{
font-family:arial;
}


body
{
margin:2% 15%;
float:left;

}

h1
{
margin: 2% 0;
text-align:center;
font-size:1.6em;
font-weight:normal;
}

h2
{
margin: 2% 0;
text-align:center;
color: #C60;
font-weight:bold;
font-size:1.3em;
}

h3
{
margin: 2% 0;
text-align:center;
color: #275078;
font-weight:bold;
font-size:1.2em;
}

p
{
text-align:left;
}

p span
{
font-weight:bold;
}
p.center
{
margin: 2% 0;
text-align:center;
}

a
{
text-decoration:none;
font-weight:bold;
color: #C60;
}

@media only screen and (max-width: 400px) 
{
body{
font-size:70%;
}

}