html body
{
	margin: 0px;
	margin-top: 8px;	
	background: url('images/DSPOBackground4_MostSimilar-2.gif');
	background-size: cover;
	font-family: arial;
}
#wrap
{
	max-width: 100%;
	margin: 0 auto;
	max-width: 100%;
	background: transparent;
}

#wrapHeader
{
	
	width: 1024px;	
	margin: 0 auto;	
}

#wrapInner
{
	width: 1024px;
	margin: 0 auto;
}


/* Header */
.logo
{
	width: 754px;
	float: left;
	background: transparent;
	
}

.logo > img
{
	float: left;
	position: static;
}

.logo > p
{
	font-size: 26px;
	color: #275078;
	margin-top: 55px;
}

.crisisline
{
	width: 270px;
	position: none;
	float: right;
	text-align: center;
}

.crisisline img
{
	
}

/* menu */
#menu
{
	position: relative;
}
#menu table
{
	border: 0px;
	width: 1005px;
	height: 63px;
	position: absolute;
	margin-top: 150px;
}

#menu tr
{
	background-color: #00557f;
}

#menu td
{
	padding-left: 120px;
}

#content
{
	

}

.report img
{
	margin-left: 22px;
	width: 235px;
	height: 304px;
	box-shadow: 14px 10px 15px #888888;
	border: 0px;
}

.maincontent
{
	margin-top: 222px;
	margin-left: 255px;
	position: absolute;
	min-height: 530px;
	width: 745px;
	background-color: #ffffff;
}

.maincontent h2
{
	color: #00557F;
	font-weight: normal;
	text-transform: uppercase;
	margin-left: 5px;
}
/* old IE 6, 7, 8 */
@media \0screen\,screen\9 {
/* side menu for sitemape */
.programlinks1
{
	margin: -594px 0px 20px -250px;
	width: 241px;
	background: #ffffff;
	position: absolute;
}
.programlinks1 p
{
	color: #616161;
	font-size: large;
	padding: 16px;
	margin: 0 auto;
	text-align: center;
	
}
.programlinkimg1
{
	width: auto;
	height: auto;
	position: absolute;	
	margin-top: -85px;
	margin-left: -250px
}
}
/* side menu for sitemape */
.programlinks1
{
	margin: -582px 0px 20px -250px;
	width: 241px;
	background: #ffffff;
	position: absolute;
}
.programlinks1 p
{
	color: #616161;
	font-size: large;
	padding: 16px;
	margin: 0 auto;
	text-align: center;
	
}
.programlinkimg1
{
	width: auto;
	height: auto;
	position: absolute;	
	margin-top: -85px;
	margin-left: -250px
}
/* side menu */
.programlinks
{
	margin: -56px 0px 20px -250px;
	width: 241px;
	background: #ffffff;
	position: absolute;
}
.programlinks p
{
	color: #616161;
	font-size: large;
	padding: 16px;
	margin: 0 auto;
	text-align: center;
	
}
.programlinkimg
{
	width: auto;
	height: auto;
	position: absolute;	
	margin-top: 495px;
	margin-left: -250px
}

li.topmenu a
{
	width: 206px;
	height: 26px;
	line-height: 26px;
}

/*-[ Footer ]-------------------*/
.wrap. > footer {
    overflow: hidden;
    width: 100%;
    font-size: 13px;
    line-height: 20px;
    background: url(images/bg1.jpg) 0 0 repeat;
}
.wrap > footer .footeText {
    width: 960px;
    margin: 22px auto;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.footer
{	
	width: 100%;
	height: 245px;
	background-color: #F0F0F0;
	margin-top: 1055px;
	position: absolute;
	text-align: center;
}
.footer .disclaimer
{
	text-align: center;
	padding-top: 20px;
	font-size: 14px;
}
.footer .disclaimer b
{
	color: #ff0000;
	font-weight: normal;
}
.footer .link
{
	margin-top: 13px;
	text-align: inherit;
	font-size: 12px;
	color: #275078;
	font-variant: small-caps;
	
}
.footer .link a
{
	color: #275078;
	text-decoration: none;
}
.footer .link a:hover
{
	font-weight: bold;
}

.footer .medallion
{
	margin-top: 13px;
	text-align: inherit;
	
}
.footer table
{

}

