vti_encoding:SR|utf8-nl
vti_timelastmodified:TW|25 Sep 2014 15:01:40 -0000
vti_author:SR|DESKTOP\\Madonna's Primary
vti_modifiedby:SR|DESKTOP\\Madonna's Primary
vti_nexttolasttimemodified:TW|25 Sep 2014 15:01:40 -0000
vti_timecreated:TR|25 Sep 2014 15:25:52 -0000
vti_cacheddtm:TX|25 Sep 2014 15:25:52 -0000
vti_filesize:IR|1259
vti_cachedlinkinfo:VX|Q|http://fonts.googleapis.com/css
vti_cachedsvcrellinks:VX|NQHS|http://fonts.googleapis.com/css
vti_extenderversion:SR|6.0.2.8161
vti_backlinkinfo:VX|PrivacyPolicy.htm suicide_data.htm about_suicide.htm Resources/external_links.htm Resources/guides_reports.htm AboutSuicide/coping.htm Resources/PSAs.htm SuicideData/quarterly_reports.htm Don't\\ publish\\ -\\ Save\\ for\\ 2015\\ Suicide\\ Prevention\\ Month/suicide_prevention_month.htm about_us.htm news_and_events.htm terms_of_use.htm SuicideData/standardized_data.htm Resources/crisis_line.htm Resources/news_archives.htm AboutSuicide/protective_factors.htm AboutSuicide/servicemembers_veterans.htm AboutSuicide/warning_signs.htm index.htm SuicideData/DoDSER_Reports.htm Resources/DoD_links.htm AboutSuicide/risk_factors.htm SuicideOutreach.dwt Resources/policy.htm Resources/star_behavioral_health.htm Resources/vets4warriors.htm AboutSuicide/family_friends.htm
vti_syncwith_localhost\\c\:\\users\\madonna's primary\\documents\\my web sites\\american websites\\suicideoutreach.org/c\:/users/madonna's primary/documents/my web sites/american websites/suicideoutreach.org:TW|25 Sep 2014 15:01:40 -0000
